[2012-06-22 01:21] thnk2wn opened #4 "Resources throws exception"
Is there something I need to do after installing the package? As soon as a guard "assertion" fails I get the below.

<System.Resources.MissingManifestResourceException> (Could not find any resources appropriate for the specified culture or the neutral culture.  Make sure "EnsureThat.Resources.ExceptionMessages.resources" was correctly embedded or linked into assembly "TestAssembly" at compile time

[2012-06-22 08:01] #4 closed, assigned to nobody

[2012-06-22 20:48] thnk2wn opened #5 "The type or namespace name 'Resources' does not exist in the namespace 'EnsureThat'"
Installed from NuGet:
    package id="Ensure.That.Source" version="0.8.1" targetFramework="net40"

Most all code files generated the following error on compile:

The type or namespace name 'Resources' does not exist in the namespace 'EnsureThat' (are you missing an assembly reference?)

ExceptionMessages.resx is there now unlike the previous version but there is no designer code generated file. I

[2012-06-22 21:13] #5 closed, assigned to nobody

[2012-07-19 16:30] thnk2wn opened #6 "Custom messages"
One thing that would be nice is support for custom messages anywhere, maybe inside Param. Sometimes I may want the null check but may want to give a more informative, friendly exception message. Assuming there is nothing there for this currently best I can tell. Any ideas on this topic?

[2012-09-24 08:25] #6 closed, assigned to nobody

[2013-02-08 23:45] LittleUmbrella opened #7 "Allow for choosing exception type"
"Ensuring that..." (i.e. the concept) applies to more than just arguments.  I'm thinking specifically about state.  For instance, I'd like to ensure that HttpContext.Current is not null, but I don't want to throw an argument exception if it is.  I'd want to throw an InvalidOperationException.  I'd suggest

[code]

either that or add `.State` after `Ensure.That()` or something to cue the library to

[2013-09-07 02:52] samtrion opened #8 "Saving code lines"
Hey,

rather than write your own extensions for each type, it would be more convenient if you put the constraints on the generic so that it goes on all numeric types.

like:

[code]

So you have to deal with only the Nullable version for the following types. (date, float, double, byte, char, int16, int32, int64 + all unsigned versions)

[code]

greets sam

[2014-07-02 20:28] #8 closed, assigned to nobody

[2014-12-18 06:57] forcewake opened #13 "Lambda performance improvements"
Hello @danielwertheim
First of all thank you for your library - it is really great.
Second one :smile:
I spent some time on the performance improvements for lambda expressions and I want to share my results.
Compiling is slow operation for func, so I decided to replace it with the ExpressionVisitor and I got:
[code]

As you can see
[code]
is faster then
[code]
in ~70 times, but it is not so nice a

[2015-02-08 13:36] ashutoshraina commented on #7
Hi,
Are there any plans to get this feature in ? Would love to have this :+1:

[2015-02-09 20:49] danielwertheim commented on #7
Any other suggestions of how it should look, seen to API, other than the above?

[2015-02-10 03:36] ashutoshraina commented on #7
[code]
Yup, I think that should do it.

or

[code]

[2015-02-11 21:33] danielwertheim commented on #7
Sample usage can bee seen here: https://github.com/danielwertheim/Ensure.That/commit/a42c213eac481676a869a3ac3f9a5c96aeaf4867#diff-b9376b431e345afb36ba68af5d8d23acR43

And for completely custom exceptions:
https://github.com/danielwertheim/Ensure.That/commit/a42c213eac481676a869a3ac3f9a5c96aeaf4867#diff-b9376b431e345afb36ba68af5d8d23acR55

Opinions?

[2015-02-12 04:51] ashutoshraina commented on #7
LGTM..but would like to see others weigh in as well

[2015-02-12 08:35] LittleUmbrella commented on #7
Yeah, that's just what I wanted two years ago, I think.

[2015-02-12 17:33] danielwertheim commented on #7
Yes it says two years ago, I'm fully aware of that. Didn't want it in before as it has been more for argument validation.

[2015-02-13 09:30] LittleUmbrella commented on #7
no worries.  I was just giving you a hard time.  If I wanted it badly enough, I would have just forked and added it.

I closed it because I felt you implemented the feature as proposed.  didn't see that it was not in the master branch yet.  my bad.  I'm fine keeping this open until/if this gets into the master branch.

[2015-04-17 10:00] endikamontejo opened #15 "Couldn't find file or assembly"
Hi!
I am getting the following error: "Could not load file or assembly 'EnsureThat, Version=2.0.0.39118, Culture=neutral, PublicKeyToken=xxxxxxx' or one of its dependencies. The system cannot find the file specified" when calling to the constructor of MyCouch's MyCouchUriBuilder constructor.

Also I want to comment that in order to sign our project's installer, we sign MyCouch package with the pac

[2015-04-17 10:44] danielwertheim commented on #15
Don't see how this is an issue with Ensure.That? Open issue in MyCouch if something does not work with MyCouch.

[2015-04-17 10:44] #15 closed

[2015-08-12 19:46] #7 closed

[2015-08-12 19:47] danielwertheim opened #16 "vNext"
Oh dear

[2015-08-13 20:03] danielwertheim commented on #16
After wrestling with possible solutions:

(1): Replace PCL with vNext class lib. Target: dotnet, netcore451, net45
(2): Add shared lib. Move code there. Add yet another PCL that supports 4.6 and asp.net 5. Ref the shared lib from the two PCLs.

[2015-08-22 06:57] #16 closed

[2015-08-30 15:44] danielwertheim commented on #13
Support for lambdas added in again. Various overloads so that you can determine to just use the lambda for extracting the param name if you want.

[2015-08-30 15:44] #13 closed

[2015-09-18 09:38] damianh commented on #16
Ensure.That 3.1.0 is broken. Installing it into a .net 4.5.1 project adds a reference to EnsureThat.vNext.dll which is compiled against .net 4.6 and references a later system.runtim (4.0.20).

Also, I don't think the dll names need to change.

[2015-09-18 10:53] danielwertheim commented on #16
Thanks. You could try and clone and update the nuspec and run deployscript
and try a local package and see if that works.

Why does dlls need to be renamed?
On Sep 18, 2015 11:38 AM, "Damian Hickey" <notifications@github.com> wrote:

[2015-09-19 11:10] danielwertheim opened #18 "Wrong assembly being resolved in 4.5.1"
It picks the 4.6 one according to comment in #16

[2015-09-19 11:51] #18 closed

[2015-09-19 11:54] danielwertheim commented on #16
@damianh `v3.1.1` should resolve the correct one.

[2015-09-20 07:23] damianh commented on #16
I just reverted to 2.0.0.

The DLL suffixes ".dinosaur" and ".vnext" are not necessary. The original
name would be fine.
On 18 Sep 2015 12:53 pm, "Daniel Wertheim" <notifications@github.com> wrote:

[2015-09-28 08:38] danielwertheim opened #19 "Dictionary.ContainsKey"
Add feature for: `Ensure.That(dictionary).ContainsKey()`

[code]

[2015-09-28 19:52] #19 closed

[2015-09-28 19:55] danielwertheim commented on #16
@damianh it's an "easy" way for "me" to quickly see which one has been picked. But yes. It's not needed but nor is it a harm, apart from ugly names perhaps, no?

[2015-09-29 08:13] damianh commented on #16
There's no harm, it's just not idiomatic.

On 28 September 2015 at 21:55, Daniel Wertheim <notifications@github.com>
wrote:

[2015-10-08 21:11] adriaanp commented on #16
There is harm in dnx can't do assembly redirection from assembly that references 2.0.0 and your project references 3.2.0 for example.

Reason why I can't use MyCouch as is.

[2015-11-30 09:54] danielwertheim opened #20 "Ensure.ThatType().IsNotOfType"
Today there's only check against that it is of a certain type, not the oposite.

[2016-03-18 20:23] smokedlinq opened #21 "Referenced assembly System.Linq.Expressions cannot resolve in dnx46"
Trying to include Ensure.That in a ASP.NET 5 / dnx46 project and receiving the following error about a missing assembly reference:

Error	 CS0012 The type 'Expression<>' is defined in an assembly that is not referenced. You must add a reference to assembly 'System.Linq.Expressions, Version=4.0.10.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'.

I am added the System.Linq.Expressions nugget p

[2016-03-19 09:24] danielwertheim commented on #21
Include as source package or as compiled resource?

[2016-03-19 11:56] adweigert commented on #21
Compiled

[2016-07-21 15:27] killergege opened #22 "Suggestion : add IsNotDefault()"
I suggest that you add a new extension method IsNotDefault() that check the value is not the default one for the current type, especially for primitive types. it would simplify the check.

For instance, with a "int input", it would be
Ensure.That(input, "input").IsNotDefault();
Instead of :
Ensure.That(input, "input").IsNot(default(int));

Or maybe you already have something to handle that, but I

[2016-09-07 15:01] iamgurdip opened #23 "Suggestion: add WithException"
Please add an extension method WithException(...) to define a custom exception to be thrown. It can be done today with Throws => Throws(x => x.Custom( ....)) but seems a little lengthy and not as fluent.

Thank you.

[2016-09-26 19:45] danielwertheim commented on #21
There's a new release coming that has ditched the PCL's completely, now composed as DotNetCore lib instead. The conversion is done. Just adding some new features. Work is being done in this branch: https://github.com/danielwertheim/Ensure.That/tree/dotnetcore

[2016-09-26 20:29] danielwertheim opened #24 "EnsureArg"
Introduce as a more effective and simpler API but keep the old as well.

Can not use `EnsureArg` from the existing as those might have decorations of e.g. `WithException`. Dual track with duplicate tests?

[2016-10-01 21:32] danielwertheim commented on #23
Forgot to close with the commit https://github.com/danielwertheim/Ensure.That/commit/5108a7d142183b06f59c4c0fb4007169a815a3fa

[2016-10-01 21:32] #23 closed

[2016-10-01 21:41] #20 closed

[2016-10-01 21:54] #22 closed

[2016-10-01 21:55] #24 closed

[2016-10-02 13:38] iamgurdip commented on #23
Thank you so much.

[2016-10-02 18:08] #21 closed

[2016-10-02 19:35] danielwertheim commented on #23
Haven't uploaded the beta nuget yet. Hopefully within a couple of hours.

On 2 Oct 2016 15:38, "iamgurdip" <notifications@github.com> wrote:

[2016-10-05 13:19] MrZoidberg opened #25 ".NET Core framework update needed."
Hi,

My app uses a recently released .NET Core 1.0 and it cannot compile with Ensure.That because of the different framework name:

Could you please add netcoreapp1.0 to the list of supported frameworks?

[2016-10-05 15:10] danielwertheim commented on #25
It's supported just not deployed. You can try with master branch if urgent.
Should be able to pull and run the build script. Then use the produced
Nuget. Or use dotnet CLI.

On 5 Oct 2016 15:19, "Mikhail Merkulov" <notifications@github.com> wrote:

Hi,

My app uses a recently released .NET Core 1.0 and it cannot compile with
Ensure.That because of the different framework name:

The dependency Ensu

[2016-10-05 15:40] danielwertheim commented on #25
Try this https://www.nuget.org/packages/Ensure.That/5.0.0-b3

[2016-10-05 20:36] MrZoidberg commented on #25
It works, thanks!

[2016-10-05 20:36] #25 closed

[2016-10-06 15:06] wgv-sethlivingston opened #26 "Add support for IEnumerable<T>"
The library appears to support IList<T>, ICollection<T>, and arrays, but IEnumerable<T> should cover all of those bases, shouldn't it? Most of the collections I deal with are IEnumerable<T>.

Great library!

[2016-10-06 15:50] danielwertheim commented on #26
It has been like that to reduce the risk that someone passes something that is deferred. But sure. Why not.

[2017-01-13 13:09] RomanDidenko opened #27 "Sign assemblies with a Strong Name"
May we have output assemblies signed with a Strong Name?

https://msdn.microsoft.com/en-us/library/xc31ft41(v=vs.110).aspx

[2017-03-28 12:30] bandolir opened #28 "English typo"
cannot instead of can not
public static string Common_IsNotNull_Failed { get; private set; } = "Value can not be null.";

[2017-03-28 20:02] danielwertheim commented on #28
Isn't both OK? http://www.write.com/writing-guides/general-writing/word-choice/cannot-versus-can-not/

[2017-03-30 09:31] bandolir commented on #28
https://en.oxforddictionaries.com/usage/cannot-or-can-not

[2017-03-30 09:37] bandolir opened #29 "do not allow us to be an idiot"
would be good if you don't let us to do the following
Ensure
    .That(myString, nameof(myString))
    .IsNotNullOrWhiteSpace()
    .WithExtraMessageOf(p => "Some more details");

[2017-03-30 10:17] danielwertheim commented on #29
Agree, but not sure I want to introduce a breaking change and have the end-methods stop returning `Param<T>`.

[2017-03-30 10:41] bandolir commented on #29
keep this version and introduce v2 :)

[2017-03-30 10:42] bandolir commented on #29
btw you should think about support of code contracts
https://msdn.microsoft.com/en-us/library/dd264808(v=vs.110).aspx

[2017-03-30 12:29] danielwertheim commented on #29
Or people can just use code contracts?

[2017-03-30 12:32] bandolir commented on #29
preconditions section
if ( x == null ) throw new ...
Contract.EndContractBlock(); // All previous "if" checks are preconditions
before the endcontractblock the users cannot use your library for argument validation.

[2017-03-30 14:41] danielwertheim commented on #29
What change is it that you would like to see? How should it behave (the last one covered in this opened issue)

[2017-04-03 07:20] bandolir commented on #29
I've just glanced on your code.
In fact I don't use your library just one of the intern wanted to use it on my project and I didn't let him. Sorry about that.
I've managed the validation with custom code snippets.

[2017-04-04 04:08] #29 closed

[2017-04-04 04:10] danielwertheim commented on #28
Not that I think someone has built anything that takes a dependency on a message, but since it's still a valid message I'll not change.

[2017-04-04 04:10] #28 closed

[2017-04-13 13:13] Aszan opened #30 "Ensure.That Func<T> where T : class issue"
Add new one to deal with `null` case:
[code]

[2017-04-16 03:27] roryprimrose opened #31 "IsGt, IsLt, IsGte, IsLte, IsInRange should throw ArgumentOutOfRangeException"
The functions IsGt, IsLt, IsGte, IsLte, IsInRange all deal in ranges. I think a more appropriate exception to throw would be ArgumentOutOfRangeException.

Thoughts?

[2017-07-31 10:46] tsvetelin-pavlov commented on #27
+ 1
Please!

[2017-09-10 08:48] danielwertheim opened #34 "Do not tie Comparable extensions to struct"
Only to `IComparable<T>`

[2017-09-10 19:10] #31 closed

[2017-09-10 19:10] #34 closed

[2017-09-10 19:15] danielwertheim commented on #29
Redid the chaining.

[2017-09-13 10:54] TAGC opened #35 "Resharper warning "Possible multiple enumeration of IEnumerable" when using EnsureArg.*"
I've been using [Pommalabs.Thrower](https://github.com/pomma89/Thrower) as my guard clause library of choice for a while, but I've recently started using R# and I get quite a lot of warnings about possible enumeration of my IEnumerable method parameters when using `Raise.ArgumentNullException.IfIsNull`.

I considered switching to using Ensure.That as I saw from your release notes that you handle t

[2017-09-13 11:04] TAGC commented on #35
Oh, nevermind, I saw you've sorted this in the pre-release version.

[2017-09-13 11:04] #35 closed

[2017-09-22 00:21] thnk2wn opened #38 "Ensure.That().Value?"
Was .Value removed due to some .NET standard limitation? Any plans to bring it back (i.e. net std 2.0)?

It's a bummer this doesn't appear to work anymore as it was handy:

    _logger = Ensure.That(logger, nameof(logger)).IsNotNull().Value;

[2017-09-23 19:18] danielwertheim commented on #38
It has to do with the first comments here: https://github.com/danielwertheim/Ensure.That/issues/29

[2017-09-25 21:28] thnk2wn commented on #38
Ahh. Personally I'd prefer the tradeoff of having the value of Param<T> over some combinations it might provide that might be invalid. This doubles the amount of code to be written in our ctors.

Or maybe there's some hybrid approach compromise.

[2017-09-26 07:53] tsvetelin-pavlov opened #39 "Add ValidatedNotNullAttribute to the checker arguments in order to suppress CA1062"
Please, add [ValidatedNotNull] to the arguments of the IsNotNull() methods in order to suppress the generation of warning [CA1062: Validate arguments of public methods](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1062-validate-arguments-of-public-methods) when Code Analysis is turned on and when EnsureThat is used for not null validation (more info here: https://esmithy.net/2011/0

[2017-09-26 20:01] danielwertheim commented on #38
What if the other variation of the API returned the value:

[code]

[2017-09-26 20:03] danielwertheim commented on #27
What if there was an updated source package instead that you then could install as source in your own assemblies?

[2017-09-26 20:05] thnk2wn commented on #38
@danielwertheim Yeah, that'd work for me!

[2017-09-26 20:12] tsvetelin-pavlov commented on #27
Does it mean that the whole code base of EnsureThat will be copied in my project?
If yes, that most certainly I will not use it...

[2017-09-26 20:57] danielwertheim opened #40 "Add ReSharpers NotNull attribute"
To all args that can not be null.

[2017-09-27 18:54] #39 closed

[2017-09-27 18:54] #40 closed

[2017-09-27 19:26] #38 closed

[2017-10-03 20:13] danielwertheim opened #44 "Wrong assembly name"
Assembly name has changed from `Ensure.That.dll` to `EnsureThat.dll` which breaks other packages when resolved as third party dep. E.g: https://github.com/danielwertheim/mycouch/issues/132

[2017-10-04 18:25] danielwertheim commented on #44
Done in v6.0.1

[2017-10-04 18:25] #44 closed

[2017-10-22 11:49] danielwertheim commented on #30
The `Ensure.That` API is being marked as obsolete in v7 and I'm not following which case the above will solve as you should pass an expression. More correct would be to throw an exception if `expression` is null.

Closing due to the fact that this API is going to be removed in v8. Feel free to re-open if you feel I'm missing something.

[2017-10-22 11:49] #30 closed

[2017-11-12 22:06] ndrwrbgs opened #47 "Consider replacing string.Empty.Equals(value)"
I notice new changes in the library around performance (specifically, the migration away from `Ensure.That` to static methods and `EnsureArg`). Given performance is important -- let's replace string.Empty.Equals(value) with `value != null && string.IsNullOrEmpty(value)`

BenchmarkDotNet micro benchmark showed this to be ~3x faster (intuitively makes sense as it doesn't have to deal with the overhe

[2017-11-12 22:08] ndrwrbgs opened #48 "Add more Resharper Annotations"
Not all current `[NotNull]`'s are annotated, we should fill in any existing gaps. Also of particular use to users would be usage of the `[InvokerParameterName]` which helps with auto-completion of the `paramName` arguments.

I'd be happy to contribute this just opening an issue for tracking

[2017-11-12 22:12] ndrwrbgs opened #49 "Design: Why does SizeIs accept a long count since collection.Count is an int?"
Was it a some performance concern to keep just int?

Though here's a sample that would require a `long`, via `Enumerable.LongCount` perhaps, but I imagine it is only applicable in contrived scenarios and not applicable on `ICollection` which exposes an `int` `Count` property, nor on `IList` which exposes an `int` `this[]` accessor.

[code]

[2017-11-12 22:14] ndrwrbgs opened #50 "Should there be a T ContainsKey (not just IDictionary)?"
Many of the other methods like SizeIs, HasAny, etc in the `CollectionArg` class expose a type-preserving API (e.g. `where T : ICollection<TOther>`). Should `ContainsKey` have the same for parity?

Also, other `IDictionary` methods in this class contain an overload for `IReadOnlyDictionary` explicitly; should this method?

[2017-11-12 22:15] ndrwrbgs opened #51 "Feature request: Add a simplified single-arg HasAny - e.g. 'Contains'"
Preferably with an overload that takes advantage of `ISet<T>` interface's optimization opportunities.

This method would ideally have an overload that takes in an `IComparer<T>` argument.

[2017-11-12 22:17] ndrwrbgs commented on #50
Similarly (sorry if you prefer 1 item per 'issue' but I feel like I'd be spamming if I opened this separately), should there be a `T HasAny` overload that preserves the input type?

[2017-11-12 22:18] ndrwrbgs opened #52 "Design: Why is there a specific T[] overload when T[] : ICollection<T>, IList<T>?"
Was this performance based also or some other scenario? More of a question than issue 😄.
Thank you for your patience and explanations!

[2017-11-12 22:19] ndrwrbgs opened #53 "Consider an Ensure.Dictionary type-specific class"
Problem: Intellisense shows the IDictionary methods when I do Ensure.Collection, which are not valid on an `ICollection`. Could we introduce a new `DictionaryArg` class as a subclass of `CollectionArg`?

[2017-11-12 22:24] ndrwrbgs opened #54 "Consider MethodImpl(MethodImplOptions.AggressiveInlining) on methods (specifically .That)"
A quick pass with BenchmarkDotNet (I'm no expert though!)'s Jit Diagnoser suggested that the .That methods were unable to be inlined because their estimated size were too large. Argument validation is likely valid/desirable to inline, and addition of the attribute may assist.

[2017-11-12 22:27] ndrwrbgs opened #55 "Consider using struct for Param<T>"
I believe the motivating factor for deprecating the `Ensure.That` syntax was the object allocation. A quick test with `struct` seems that it may be as performant as the new static methods, and maintain the `Ensure.That` syntax this library derives it's name from. I believe that the usage of `Param<T>` will work within the constraints introduced by `struct` also.

I can isolate the test change I di

[2017-11-13 19:30] danielwertheim commented on #47
Thanks. Reviewed and believe it could be simplified.

[2017-11-13 19:39] danielwertheim commented on #49
Good Q, but I do think it was convenience to not have to invoke the ensure with `(int)myLong`

What's funnier though (just noticed) is the array version... it does not use `LongLength` for that overload.

[2017-11-13 19:43] danielwertheim commented on #53
Is there a real problem or semantic issue? The idea was that "Collection'ish" stuff should be grouped there under and not have one for Sets, Dictionaries.... as e.g. both those extens ICollection<T>

[2017-11-13 19:55] danielwertheim commented on #48
Reviewed, just want to double check. In the text above you mention `NotNullAttribute` but there were none added. I do remember when I did the first round that there was one or two places where it was not applicable. Was that why there was none added?

[2017-11-13 19:58] danielwertheim commented on #55
Out of curiosity, which version/flavor of the API would you use?

[2017-11-13 19:59] danielwertheim opened #61 "SizeIs for arrays accepting long does not check against LongCount"

[2017-11-13 20:03] danielwertheim commented on #52
Ultimately one would like to use `IEnumerable` and `IEnumerable<T>`, how-ever, I didn't want the risk that someone passes anything that is "deferred" and thereby potentially evaluated more than once.

And at one point when building this, there was some case like, having an `IList<T> value` and wanting to invoke an Ensure method for it that accepts `ICollection<T>` without user having to cast.

Do

[2017-11-13 20:42] ndrwrbgs commented on #48
Indeed, the PR doesn't complete the first part, only the second part. Sorry, still learning how to work github 😺 Is it possible to handle the PR without closing the Issue?

There are some places it can be added - if nothing else as an attribute on the methods themselves to annotate that what it returns is not null (`ValidatedNotNull` says we validate the argument, but if they use the return value

[2017-11-13 20:43] ndrwrbgs commented on #55
I'm still polling my team on what they prefer for syntaxes, but I am partial myself to `Ensure.That(arg, argname).<let intellisense show me what I can ensure based on the type>`

[2017-11-13 20:48] ndrwrbgs commented on #53
There's no problem, it's usable in either scenario. What I was hoping for was intellisense being able to show me everything I can do based on my argument type (whether inferred from `Ensure.That.X()` or specified by me via `Ensure.Type.X()`). When I was using it I was briefly confused that for `Ensure.Collection` it showed me methods that only accepted Dictionary, since I was trying to validate an

[2017-11-13 20:54] danielwertheim commented on #48
No worries. If I merge this before the other stuff, just open a new PR.

[2017-11-13 20:54] danielwertheim commented on #55
No doubt, that is the best for discover-ability.

[2017-11-13 21:01] ndrwrbgs commented on #49
Woah, I didn't even know `LongLength` was a thing. I guess we really do have lots of memory these days! I hope not many people are using this, sad LOH allocations 😞.

What would you like to see here?
- Obviously we can update the array version to `LongLength` (given the next few items)
- Should an IEnumerable version be exposed? (with comment & [InstantHandle] annotation to signal that it will act

[2017-11-13 21:01] ndrwrbgs commented on #49
So my suggestion would be to correct the Array version, leave the long version, and omit adding an IEnumerable version (e.g. make sure all exposed versions right now won't accept IEnumerable but only ICollection/IList)

[2017-11-13 23:03] ndrwrbgs commented on #52
Hey @danielwertheim, the suggestion would have been to remove the T[] overloads, since this works:

[code]

However given my recent leanings around how the runtime works, probably do not want to do this. The reason being that I believe T[] is handled specially for cases like Enumeration, and I think the boxing into its interface takes more time for Length even.

From BenchmarkDotNet:

## Enumerati

[2017-11-13 23:03] #52 closed

[2017-11-14 02:14] #49 closed

[2017-11-14 03:03] ndrwrbgs commented on #50
Unfortunately, adding support for `IReadOnlyDictionary` as an explicit overload causes calls to be ambiguous (other APIs avoid this problem b/c they expose a T version where T : ICollection, for instance, so List which is ICollection, IList, and 'List : ICollection' chooses the most specific (the List : ICollection one that returns List).

This might suggest that all of the interface ones could ju

[2017-11-14 05:31] danielwertheim commented on #49
Good morning. I agree to the last comment. IEnumerable overloads should not be added even if attributes can help with discoverability. Keep the long for convenience and correct array.

[2017-11-14 05:33] danielwertheim commented on #52
Thorough investigation. Great work.

[2017-11-14 17:13] danielwertheim commented on #26
Sticking to not switching to IEnumberable for not exposing an API where people can pass something that is deferred. If it becomes a maintenance issue it might change in the future.

[2017-11-14 17:15] danielwertheim commented on #47
Forgot to comment that PR closes this.

[2017-11-14 17:15] #47 closed

[2017-11-14 17:26] danielwertheim commented on #55
Still, I'm not super confident of having it in there. Do think the "contextual" API is good enough. It's not just about performance (even if that can be mitigated some by moving to struct and thereby hoping the underlying runtime actually uses the stack). I also don't like the extension points for customizing exception messages etc.

@ndrwrbgs what's your take?

[2017-11-14 17:38] danielwertheim commented on #48
@ndrwrbgs PR #60 merged and closed. Shall I close this one or do you intend on adding `NotNullAttribute` some where?

[2017-11-14 17:56] #61 closed

[2017-11-14 18:08] ndrwrbgs commented on #26
@wgv-sethlivingston the NoNull will work with IEnumerable still. Should you need the other utilities like HasAny which will force enumeration, it’s best to ensure enumeration only happens once. In those cases, prefer code like follows:

[code]

(Also if you’re always handling IEnumerables be careful of the cost of multiple enumeration, which can be costly even if the enumerables are not deferred.

[2017-11-14 18:11] ndrwrbgs commented on #26
@danielwertheim, should this get raised again in the future one work around (beyond the Resharper context hint of [InstantHandle], which helps but only for users of Reshaper), one possibility would be to accept IEnumerable<T> but only as a ref parameter, returning an IList<T> to make it clear it’s enumerated, and replacing the input IEnumerable<T> with the single-enumerated list (or a Memoized IEn

[2017-11-14 18:12] ndrwrbgs commented on #26
*SRP (single responsibility, not DRY oops)

[2017-11-14 18:16] ndrwrbgs commented on #55
There’s not a dire need to have the customization of exceptions tied to the ability to use the Ensure.That syntax.

Just to clarify my understanding, the “it” you’re not confident about having — is that the Param<T> powered syntax?

I’m a very big believer in DRY and discoverability, and I feel like having to specify the type on the Ensure.String style kind of repeats what the argument already sai

[2017-11-14 18:30] ndrwrbgs opened #65 "Gitter"
I created a gitter for less latent discussions. Use it or don’t as you feel appropriate! I’ll transfer ownership to you as soon as I learn how :)

https://gitter.im/Ensure-That/Lobby

[2017-11-14 22:38] ndrwrbgs opened #70 "Consider [Conditional] instead of/in addition to On/Off"
[code]

Results in
![conditional](https://user-images.githubusercontent.com/10776890/32808754-0ac0a480-c949-11e7-820c-fdfd6c0f5962.PNG)

and benchmark confirms that even the `That` is not run
![benchmark](https://user-images.githubusercontent.com/10776890/32808782-1c031d9a-c949-11e7-980f-adeb16a1b3d3.PNG)

This change would prevent the overhead (though minimal) of checking `IsActive` ever, but wou

[2017-11-14 23:14] ndrwrbgs commented on #70
Above used struct `Param<T>`. Below uses class

|         Method |      Mean |     Error |    StdDev |
|--------------- |----------:|----------:|----------:|
| AnyConditional | 0.0074 ns | 0.0101 ns | 0.0108 ns |
|       Baseline | 6.4007 ns | 0.1643 ns | 0.4765 ns |

[2017-11-15 06:01] ndrwrbgs opened #71 "Validation proposals"
## Paths
_make sure work here includes thoughts about how to handle the case where Directory method is called but a File exists at the path_
- [ ] DirectoryExists
- [ ] DirectoryDoesNotExist
- [ ] FileExists
- [ ] FileDoesNotExist

## Object
- [ ] IsNull (though `Is(null)` probably suffices)
- [ ] Implements/Extends
- [ ] IsAnyOf (analogous to Is)
- [ ] IsNotAnyOf

## Number
- [ ] IsApproximately(

[2017-11-15 06:14] ndrwrbgs commented on #71
For the String and Collection `SizeIs` methods, they seem redundant since users could use `Ensure.That(str.Length).IsGt(4)`. However I would suggest either feature parity (if exposing SizeIs, also expose Gt/Lt/!=), or not exposing any of them and forcing access via `string.Length`

[2017-11-15 22:22] ndrwrbgs commented on #71
@danielwertheim I'm game to work on any/all of these if/as you approve of them, just let me know if you think they'd be valuable contributions.

[2017-11-16 06:32] danielwertheim commented on #70
But that would mean that all public endpoints that today return the value would need to either stop returning the value or have a new version as the `Conditional` attribute only works on `void` members.

Adding new members that are `void` is not an option as that will pollute the API. Then we are down to stop returning the values. Me myself don't use the returned value, but others have asked for i

[2017-11-16 06:36] danielwertheim commented on #71
Haven't had time to look through this yet. Want to finalize 7.1 first so that it gets merged to master.

Also, before doing this, a decision to revoke the `Ensure.That(...,...).Foo()` or not need to be taken.

[2017-11-17 20:05] ndrwrbgs opened #73 "Add exception xmldoc elements"
Some plugins like `Exceptional` utilize the `<exception>` xmldoc element to provide a type of checked-exceptions experience similar to java. Documenting the methods that can throw with the `<exception>` element would enable those scenarios.

[2017-11-17 20:37] ndrwrbgs commented on #55
**gasp** I've been converted 😿 . All the theory in the world does no good if you don't try something in practice.
I really like what R# gives me for nullability help, but it simply cannot understand `Ensure.That(arg).IsNotNull => arg != null`. For that reason I think I'll have to use `EnsureArg`.

I considered briefly a hybrid approach, e.g. `Ensure.That(string s, StringValidationType validationTy

[2017-11-19 10:16] danielwertheim commented on #48
Closed by #72

[2017-11-19 10:16] #48 closed

[2017-11-19 10:26] #65 closed

[2017-11-19 10:29] danielwertheim commented on #55
The issue with the non contextual `EnsureArg` vs `Ensure.String|Collection|...` is that It might become cluttered. But then the contextual API is there to help. I know it doesn't flow as "nice" as `Ensure.That(x, y).IsNotNull()`.

[2017-11-29 09:17] xigolle opened #75 "Custom exception error with EnsureArgs"
Dear,

I am trying to use your library but I see that Ensure.That is going to be deprecated.
So I was curious on how I can do the following:
`EnsureArg.IsFalse(true);`

And have my own exception stating something like "value should be not true".
Hope you can help me out because I could not find it in the docs.

[2017-11-30 13:46] xigolle commented on #75
Hi ndrwrbgs,

Well now when ensureThat throws an error if something is null it is just a generic message like value cannot be null.
But it would be nice if we could set a more custom message so we can inform the user better on what is happening.

[2017-11-30 17:38] danielwertheim commented on #75
Some options comes to my mind (note, not saying anything is correct)

- We keep the `Ensure.That` (sigh... never ending story)
- We see this library as a guard clause lib for enforcing contracts, not a validation for end user.... and then skip support for custom messages
- We add an optional argument `(param, opts) => opts.CustomMessage($"This value {param} is no good")`

[2017-12-01 11:53] xigolle commented on #75
To be honest I really like the last idea. That way you can still use the lib as a guard clause but leave it open for additional messages.

[2017-12-02 22:12] ndrwrbgs opened #76 "Consider more specific exceptions for validation methods"
E.g. ArgumentNotLessThanException with fields that expose the actual value and the validated against value.

[2017-12-02 22:24] ndrwrbgs commented on #55
v8 Breaking change

[2017-12-02 22:24] ndrwrbgs commented on #76
v8 Breaking change

[2017-12-02 22:24] ndrwrbgs commented on #53
v8 Breaking change

[2017-12-10 12:24] danielwertheim opened #78 "Remove return types from validation methods"
To enable use of `ConditionalAttribute` #70

[2017-12-10 12:25] danielwertheim commented on #70
Can be done after #78

[2017-12-10 13:06] #78 closed

[2017-12-10 17:26] danielwertheim commented on #70
@ndrwrbgs `Conditional` does not support negations so it has to be something like:

[code]

but can't really expect users to have to define that. What's your idea on this?

[2017-12-10 22:32] ndrwrbgs commented on #70
Sigh, should've looked into this more before.
The only thing I can think of is to offer a copy of the APIs that is gated behind the conditional, I also don't think users should _have_ to define something to make it work.

I think such a wrapper would quite likely not belong _inside_ this library, though it's up to you if you want to expose ConditionalEnsures.

If we back out of this change, would

[2017-12-11 20:54] danielwertheim commented on #70
As `ConditionalAttribute` does not support `NOT` and as there are no workarounds for third party libs, this can not be implemented.

[2017-12-11 20:54] #70 closed

[2017-12-11 21:02] danielwertheim commented on #78
Will not be done as #70 can not be done.

[2017-12-11 21:08] danielwertheim commented on #75
Decision is to add something like:

[code]

**Note**. It should be possible to (later on) extend this with something like:

[code]

[2017-12-11 21:29] ndrwrbgs commented on #75
What’s the expected type of opts here?

[2017-12-11 21:39] danielwertheim commented on #75
I will call it `EnsureOptions`

[2017-12-12 03:16] ndrwrbgs commented on #75
:smiley: I meant what’s it’s purpose. To encapsulate the input arguments?

[2017-12-12 20:06] danielwertheim commented on #75
Nope. To contain optional customizations of the exception or message:

[code]

or

[code]

The latter takes precedence.

[2017-12-12 21:22] danielwertheim commented on #75
Something like this: https://github.com/danielwertheim/Ensure.That/commit/1b6411c794ec12141a95cee26cd3efc2e1a7a773

Will probably add `WithExtraMessage` to ease migration from obsolete `Ensure.That`

[2017-12-13 19:44] danielwertheim commented on #55
I have decided to drop the `Ensure.That` as previously stated so will close this one and the associated PR.

[2017-12-13 19:44] #55 closed

[2017-12-13 19:48] danielwertheim commented on #26
This will be supported with PR #77 via `Ensure.Enumerables`

[2017-12-13 19:50] #75 closed

[2017-12-14 18:19] #26 closed

[2017-12-29 16:31] iamgurdip opened #84 "EnsureArg Boolean ignores the optsFn"
EnsureArg.Booleans do not pass the OptsFn to the Ensure.Bool.IsTrue method.
[https://github.com/danielwertheim/Ensure.That/blob/master/src/projects/EnsureThat/EnsureArg.Booleans.cs](url)

[2017-12-29 18:32] #84 closed

[2017-12-29 18:36] danielwertheim commented on #84
Thanks! Fixed in 7.2.1 which has been released on NuGet.org: https://www.nuget.org/packages/Ensure.That/7.2.1

[2017-12-29 19:05] iamgurdip commented on #84
Thanx for the fix so fast!

[2018-01-10 14:34] DanAvni commented on #27
It has been a year since this was requested. Any chance the assembly will be signed?

[2018-01-13 08:00] mysticfall opened #86 "Allow IsOfType to accept subclasses of the specified type"
Currently, `IsOfType` throws an exception when type of the passed object is different from the specified type.

However, it is often desired to see if an object is a subclass of a certain type. So, it could be useful if we can make `IsOfType` optionally accept any subclass of the specified type rather than an instance that exactly matches it.

[2018-01-18 23:07] doctorhilarius opened #87 "String.IsNotNullOrWhitespace Returning ArgumentNullExceptions for Whitespace Values"
<package id="Ensure.That" version="7.2.1" targetFramework="net461" />

I have tons of unit tests in the same project verifying the arguments are valid throughout the project using Ensure.String.IsNotNullOrWhiteSpace(). They all expect an ArgumentNullException for null string values and an ArgumentException for empty or whitespace strings.

However, the empty/whitespace exceptions switch from Argum

[2018-01-18 23:12] ndrwrbgs commented on #87
Could you supply a repro for debugging?

[2018-01-19 15:01] danielwertheim commented on #87
There's no shared state or anything so sounds weird that behavior switches.

Are you passing in a custom exception function?

[2018-01-19 22:07] danielwertheim commented on #54
@ndrwrbgs  Since the `Ensure.That` flavor is going in next major, this is not an issue, right?

[2018-01-20 07:47] ndrwrbgs commented on #54
I’d have to check again if we want data to back up the decision, but I’d imagine it may still be good to inline argument checking.

[2018-01-26 09:58] wardboumans commented on #27
I would like to see this as well, running in to assembly loading issues.

[2018-01-26 10:32] tsvetelin-pavlov commented on #27
I really don't get the fuzz and the discussions and the whole wondering about strong naming an assembly - it is a matter of minutes to generate the key (a self-signed one). I guess nobody here needs a strong name with a key, signed from authority, but even if someone does, it can be done in hours and it is not-that-expensive - they are free authorities after all...

[2018-01-26 10:36] wardboumans commented on #27
@tsvetelin-pavlov I know I can selfsign (im not asking for authority signed either). But what good is nuget when I still need to sign the assembly?

[2018-01-26 10:52] tsvetelin-pavlov commented on #27
Totaly agree!
I am not attacking anybody with my previous comment (I hope @wardboumans didn't felt accused of smth) - I mean - it is easy, it is literally effortless to strong-name that assembly, and it is well-known good practice for years. And yet, there are many projects that owners just were not doing it! And there are discussions, threads, issues - you named it - where people ask for a simple

[2018-01-27 09:24] danielwertheim commented on #27
If this is done it would merely be for identification purposes of the assembly and for simplicity the key would then  be included in the repo. @DanAvni not sure what the auditors ensuring you follow the regulations e.g. would think of that as it means anyone can clone and self sign it and....

But sure... A PR that solves this issue using the build script (Cakebuild) as a separate task "Sign" that

[2018-01-27 09:25] danielwertheim commented on #54
Closing for now.

[2018-01-27 09:25] #54 closed

[2018-01-27 12:54] danielwertheim opened #88 "Remove Ensure.That flavor"
The tests should point to the new flavor.

[2018-01-27 14:25] DanAvni commented on #27
@danielwertheim , Totally true that the snk is in the project and is open to all. The sad part is that I must comply and on the other side the party that made me comply does not check anything. But if there was a violation of my compliance at some point then I would be to blame... Sad but true

[2018-02-01 15:45] danielwertheim commented on #53
I'm not keen on creating one per type `Array, List, Set, Collection, Dictionary` at least not for now. Hence I don't think it's correct to let Dictionary exist all by it self. `Ensure.Collection` is to be seen as everything collection'ish as in stuff under the `System.Collections` namespace.

@ndrwrbgs  If you do believe this will become a technical problem seen to API overloads, feel free to re-o

[2018-02-01 15:45] #53 closed

[2018-02-01 15:47] danielwertheim opened #89 "Remove check solution with On/Off"

[2018-02-01 15:48] danielwertheim commented on #87
@doctorhilarius any more input on this?

Haven't seen any issue with this myself, nor have I heard anyone else.

[2018-02-01 15:50] danielwertheim commented on #86
To not break existing functionality, would it work if a new method was introduced, e.g `IfAnyTypeOf` ?

[2018-02-01 16:18] mysticfall commented on #86
Sure, it sounds like a reasonable thing to do, preserving compatibility for existing users to me.

[2018-02-01 19:13] ndrwrbgs commented on #53
Nope it was purely for discoverability of the methods not for conflicts, also no reason you’d have to create all - most of those other classes don’t have special methods that only take them (most of the methods take ICollection/enumerable so would be fine to stay in EmumerableMethods, only the dictionary ones deviate)

Anyway, just wanted to reply but am fine with it being closed too

[2018-02-13 01:40] TimSirmovics opened #90 "Estimated release date for v8"
Hi,

We are holding off upgrading most of our projects to v7 as v8 is coming soon and we would rather do a single upgrade.

Do you have a rough estimate of how long away v8 is?

[2018-02-13 20:30] #88 closed

[2018-02-13 20:34] danielwertheim commented on #87
There are tests for this.

Current version: https://github.com/danielwertheim/Ensure.That/blob/master/src/tests/UnitTests/EnsureStringParamTests.cs#L81

Upcoming version: https://github.com/danielwertheim/Ensure.That/blob/feature-v8/src/tests/UnitTests/EnsureStringParamTests.cs#L81

[2018-02-13 20:34] #87 closed

[2018-02-13 21:07] danielwertheim commented on #89
Since we now have specific non static classes we can extract the interfaces and make `Empty/Dummy`  implementations of them.

[2018-02-13 21:09] #89 closed

[2018-02-13 21:11] danielwertheim commented on #90
After this evening there seem to be only one item left: https://github.com/danielwertheim/Ensure.That/milestone/4

And given some opinions in #27 and the effort needed to make that happen...

[2018-02-13 21:15] TimSirmovics commented on #90
Ah, I didn't realise I could view Milestone progress in GitHub.

Thanks for the update - hopefully we can see v8 soon.

[2018-02-13 21:15] #90 closed

[2018-02-13 21:17] danielwertheim commented on #90
@TimSirmovics well... I was kind of hoping anyone in #27 that actually wants it would "step up"... I guess I'll have to do it but not today.

[2018-02-14 19:38] danielwertheim opened #92 "EnsureArg.Any should be HasAny"
To match `Ensure.Collection.HasAny`

[2018-02-14 19:39] #92 closed

[2018-02-14 20:30] ndrwrbgs commented on #76
The benefit would be in providing more information upstream about the failure - most of the top nuget packages provide custom exception types since c# unlike java does not provide a super rich set of exceptions.

A couple uses I can see:
# customization of exception messages if they need to wrap the one thrown from here
# ease of structured logging, no string parsing to get the bounds needed
# in

[2018-02-14 20:32] ndrwrbgs commented on #76
Uhhh, I fail at markdown and on mobile it isn’t letting me edit it :(
Those headers were supposed to be lists, apologies!

[2018-02-14 20:38] danielwertheim commented on #76
`v8.0.0` is going out nowish, but this isn't really breaking as I see it as it would still be able to extend the current exceptions being thrown in the specific cases. If so, then it can be added whenever.

[2018-02-14 20:38] #27 closed

[2018-02-14 20:43] ndrwrbgs commented on #76
Agreed I do not think it would be breaking (except if someone expected
EXACTLY that type of exception, in which case they were probably doing
silly things anyway :) )
On Wed, Feb 14, 2018 at 12:38 PM Daniel Wertheim <notifications@github.com>
wrote:

[2018-02-15 17:22] danielwertheim opened #93 "Extract the ExceptionFactory"

[2018-02-15 19:29] #93 closed

[2018-02-18 02:32] ndrwrbgs opened #95 "Test name discussion"
== Test name discussion ==
Today test names are pseudo-english-pseudo-code. E.g. When_same_values_It_throws_ArgumentException

I'd like to recommend one of the following:
 - [ ] Use full-on English with _'s for spaces
  - Should_throw_ArgumentException_when_the_values_are_the_same
  - When_the_inputs_are_equal_It_should_throw_ArgumentException
  - SizeIs_When_non_matching_length_It_should_throw_Ar

[2018-02-18 02:37] ndrwrbgs commented on #95
This is targeted to encourage discussion more than anything.

Here are some examples of possible names. I tend to find those more succinct easier to write and parse

| Negative | Postiive |
| ---- | ---- |
| When_value_starts_with_It_should_not_throw | When_value_not_start_with_It_should_not_throw |
| When_the_value_starts_with_the_specified_check_It_should_not_throw | When_the_value_does_not_star

[2018-04-19 19:47] FutureTD opened #102 "suggestion IsNotEmptyOrWhiteSpace for strings"
There are situations when a string can be null, but if is not null, you don't want it to be a empty string or contain whitespace only.

These are pretty common is constructors and methods with default parameters.

so I propose EnsureArg.IsNotEmptyOrWhiteSpace. If the string is null it would not throw. However, If the string is not null, but is empty or white space only, It would.

[2018-08-14 21:30] ndrwrbgs commented on #102
I'm not sure how common this use case would be - I believe the reason the BCL uses `string.IsNullOrEmpty()` or `string.IsNullOrWhiteSpace()` to provide a super-set of `null` in scenarios where `null` and `string.Empty` are not easily distinguishable. Could you try to contrive a few use cases outside of the one you have in mind that would use this for better understanding of the problem space as yo

[2018-08-16 01:14] ndrwrbgs commented on #95
@danielwertheim would you have any feelings on this? I'm gating adding features/ensuring best perf behind some of these design discussions

[2018-08-16 01:16] ndrwrbgs commented on #76
It looks like you were okay with the proposal above. I will consider this item unblocked (this is my non-committal way of saying I'll work on it)

[2018-08-16 01:17] ndrwrbgs commented on #73
Probably related to #76. Should be done around the same time or together.

[2018-10-05 02:32] seroche opened #105 "Suggestion: HasNoNull on collections"
Hi,

I want to make sure that my collections do not contain null values. It would great to get a new extension method that would
- go through all elements
- throw an exception if they are null.

[2018-10-05 20:57] ndrwrbgs commented on #105
I'm going to add this to #71

[2018-10-19 22:08] ndrwrbgs opened #106 "ValidatedNotNull bug for R# nullability analysis"
Steps:
 * Mark parameter as [CanBeNull]
 * Use EnsureArg.IsNotNull(parameter) - which is documented with [ValidatedNotNull]
 * After that call, do something like ```var _ = parameter.ToString();```

Expectation:
 * parameter is known to not be null at the .ToString() call

Reality:
 * R# does not seem to recognize that (in 2018.2 at least).

I think I mistakenly believed R# would acknowledge Valid

[2018-11-04 22:23] ndrwrbgs opened #109 "Improve code coverage"
Presently we're at about 65% of the main library being covered. _Mostly_ it's just delegating members, but we should probably cover them anyway.

[2018-11-06 09:07] mysticfall opened #110 "Need an easy way to globally turn off all argument checks"
I'm using this library quite extensively in a project which runs on top of a game engine. As the environment requires high performance, I wish there was an easy way to bypass all argument checks so that there wouldn't be unnecessary overhead in a release build.

I don't fully understand the reason behind removing of `Ensure.On/Off` feature, but if it was because of poor runtime performance, I thin

[2018-11-06 22:48] danielwertheim commented on #110
Haven't found a good way (not paying the price of the check) to bake that into the lib itself. So currently a construct for it would have to live in the consumer code. E.g. compiler directive or Conditional attribute, .... Maybe this could be solved using weaving with Fody?

[2018-11-06 22:54] mysticfall commented on #110
Using compile time weaving like Fody would be an option, if it is supported on Mono which the game engine I'm using relies on.

I understand if there are some technical difficulties involved, and in that case, it'd be good if I can keep this issue open as a reminder so I could be notified when we have a viable solution in future.

[2018-11-06 23:16] ndrwrbgs commented on #110
I’m working on Fody integration but it’ll take a while. There is a flag that this library uses to short circuit. Does Fody not work with Mono?

[2018-11-06 23:17] ndrwrbgs commented on #110
Would you like to compile them out? It’s possible Daniel would accept a Conditional attribute addition to the library - but it’d only work on the method that don’t return anything (though I’m not sure if any of those exist anymore)

[2018-11-07 10:22] ndrwrbgs commented on #110
It looks like the Ensure.That().Is(value) syntax is the only one that does not return a value, which is needed for the `ConditionalAttribute` to work. I believe you'll still pay for setting up the struct that is passed into those methods though in cases where JIT doesn't optimize that away (there's not ConditionalAttribute support for deep calls like that).

You could try to make that change in th

[2018-11-10 09:55] danielwertheim commented on #110
I didn't mean that the `ConditionalAttribute` should lie in `Ensure.That`. We have tried that and failed. I meant in the code-base where Ensure.That is used or if that would be weaved somehow with Fody. Or instead of Condition, use compile time directives. I would accept Conditional in Ensure.That if there was a smooth way to get it to be opt out of E.T, but as far as I remember that was not possi

[2018-11-10 10:05] #106 closed

[2018-11-10 10:06] danielwertheim commented on #102
Released

[2018-11-10 10:06] #102 closed

[2018-11-14 21:09] danielwertheim commented on #110
This works... Maybe not as pretty, but it works and gives you one place to define the conditional in your code base.  The extra method will not be inlined if it's not built with optimized code, which is the default with  `DEBUG` builds, but I guess that doesn't matter for `DEBUG` builds, getting an extra call in the call stack that is.

[code]

[2018-11-15 14:16] ndrwrbgs commented on #110
@Daniel, that’s beautifully elegant in showing the intent of the code rather than hiding it in a conditional at the declaration side! I’m surprised I’ve never seen it before.

[2018-11-15 14:37] danielwertheim commented on #110
@mysticfall the thing is that it need to exist in your code, dll's can not act on the project being compiled.

[2018-11-15 15:06] mysticfall commented on #110
I know but what I suggested was to setup another project (and thus assembly) for the wrapper. Could you (or other contributors) consider doing it in future, if it would work that way?

[2018-11-15 15:08] ndrwrbgs commented on #110
It doesn’t sound particularly difficult, but it would be something that had
to be maintained/kept up to date with the library.

As my team’s don’t effectively use debug builds (so debug only checks would
be the same as no checks at all) I don’t have personal investment in the
request.
On Thu, Nov 15, 2018 at 3:06 PM Xavier Cho <notifications@github.com> wrote:

[2019-03-26 23:26] Ergamon opened #113 "Feature Wish: Object validation"
It would be nice to have some way to validate an argument.

What am I talking about:
[code]

...
[code]
...

So basically I want to validate some properties of the passed in object argument.

Checking the argument for null is the easy part, but how do I validate properties?

Writing it the way I showed in my attempt will lead to an ArgumentNullException, which is wrong.

Of course I can create the

[2019-04-01 07:11] ndrwrbgs commented on #113
Just to make sure we're talking about the same things, I presume you meant
[code]

It appears your problem is that you don't want an `ArgumentNullException("customer")` in this case.

Personally, I change the argument for paramName on Ensure.That to the deep name of the argument to aid debugging.
[code]

To help direct any further discussion if that does not solve your problem, could you detail th

[2019-04-01 18:57] danielwertheim commented on #113
There is some version back in the history that allowed you to pass a lambda expression that would extract the full path “customer.Address.Zip”. This was removed due to performance issues. If you are fine with having it in, you could perhaps grab that and make use of it somehow.

Personally I would (if possible) move the responsibility and not have a public property and instead have the cTor or a f

[2019-04-01 20:36] Ergamon commented on #113
Yes, you both understood me perfectly.
The double name of is sadly very cumbersome to write, but I like the idea.
I reviewed some code of my co-workers using just the second part:

`Ensure.That(customer.Name, nameof(customer.Name)).IsNotNullOrEmpty();`

But I dont like it, cause of 2 things:

-  the message tells now something about a parameter named Name, but there is none in the method
-  the ex

[2019-04-02 10:44] ndrwrbgs commented on #113
I think using a property like you show, that doesn't capture a closure, and optimizing caching etc around turning the expression into a string would be feasible, but I'm not committing to demoing that at this time :)

[2019-04-02 11:41] danielwertheim commented on #113
Without thinking of performance or anything here is something that works

[code]

[2019-04-02 11:44] #113 closed

[2019-04-02 12:06] danielwertheim commented on #113
Quick benchmark

[code]

|          Method |         Mean |     Error |    StdDev |  Ratio | RatioSD | Rank | Gen 0/1k Op | Gen 1/1k Op | Gen 2/1k Op | Allocated Memory/Op |
|---------------- |-------------:|----------:|----------:|-------:|--------:|-----:|------------:|------------:|------------:|--------------------:|
|    NoExpression |     6.890 ns | 0.0172 ns | 0.0161 ns |   1.00 |    0.00 |

[2019-04-04 19:47] ndrwrbgs commented on #113
I was able to get it down from 182x worse to 19x worse by using some compiler tricks and caching the value based on the call location information that gets compiled into the app.

It would be possible to add this as an add on library rather than embedded here (at least for the `Ensure.That` syntax which is extendable, the others would require modifying the `Ensure.Object` and `EnsureArgs` classes)

[2019-04-04 19:50] ndrwrbgs commented on #113
Rerunning for non-short-job, that Error was huge in the above :) Results are the same

|          Method |       Mean |     Error |    StdDev | Ratio | RatioSD | Rank |  Gen 0 | Gen 1 | Gen 2 | Allocated |
|---------------- |-----------:|----------:|----------:|------:|--------:|-----:|-------:|------:|------:|----------:|
|    NoExpression |   6.261 ns | 0.1591 ns | 0.2012 ns |  1.00 |    0.00 |

[2019-04-04 20:01] danielwertheim commented on #113
Or would it work with e.g. a Roslyn SyntaxRewriter that code be shipped as an analyzer or something?

Anyways. I will not put in effort on this one right now.

[2019-04-04 22:08] ndrwrbgs commented on #113
FYI pointer: https://github.com/Fody/Fody is what I've been using for stuff like that lately.

[2019-04-04 22:21] ndrwrbgs opened #114 "IsNullOr()"
Validation for optional arguments, it'd be nice to have a way to say 'validate, but only if supplied'

## Today:
[code]

## Proposed syntax
(I'm not sure how to do this nicely with EnsureArg - and therefore it might belong in a sister library and NOT here) :
[code]

_Since this is more of a feature-suggestion to myself, feel free to close it if you don't want the noise of me tracking ideas on this

[2019-04-05 05:34] danielwertheim commented on #114
The "today" case, wouldn't that e.g. be:

[code]

Anyway, the API of `Ensure.That(...)` was like that at one point, as in it returned the `Param` so that more rules could be chained. Wasn't there a performance reason that it was removed?

[2019-04-05 05:40] ndrwrbgs commented on #114
In this case, no, it's that the input is { not supplied || valid } so null _is_ okay in this case. Like the user can not supply a phone number, but if they do, it should be a phone number.

I'm sure there was a performance problem :-P - I'll deal with performance before sending any PRs but I think it's worth looking into :-)

[2019-05-06 09:17] maartenoosterhoff opened #117 "Suggestion: Adds a way to verify if an enum value is defined"
Hi,

I want to make sure that the enum-values are defined. Some thing like:

[code]

[2019-07-06 19:20] stfbln commented on #110
Hello, I have been using this library quite extensively in a multitude of project and indeed having a way to turn off all validations would be really nice. I am personally not a big fan of conditional flags and was wondering if creating "NoOp" instance would help. For example If `AnyArg` is changed to have virtual methods as such:

[code]

And with a `NoOpAnyArg` class:

[code]

Then the following

[2019-09-26 06:17] roryprimrose opened #118 "Support new nullable C#8 attributes"
From what I understand, the new nullable attributes could be put into Ensure.That to help with nullable analysis in calling code. Something like https://devblogs.microsoft.com/dotnet/try-out-nullable-reference-types/#nullness-dependence-between-inputs-and-outputs-notnullifnotnullstring for example.

This would mean that any analysis of code that comes after a call to Ensure.Any.IsNotNull (or simil

[2019-09-26 06:19] roryprimrose commented on #118
Hmm, just read that the NotNullIfNotNull attribute only applies to method return values or ref parameters. :(

[2019-11-09 22:48] ndrwrbgs commented on #113
I've finally gotten around to making a package for this. Iterations on performance and feedback on usage are welcome - I agree it doesn't belong in the base library since it can easily be patched on

https://www.nuget.org/packages/Ensure.That.Expressions/0.1.0

[2019-11-15 12:47] rsobon opened #122 "IsNotNull does not suppress CA1062"
Using IsNotNull should get rid if the [CA1062 warning](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1062?view=vs-2019) generated by the latest stable version of Microsoft.CodeAnalysis.FxCopAnalyzers 2.9.7:

[code]

Even though there seems to be `[ValidatedNotNull]` attribute on the `EnsureThat.Enforcers.AnyArg.IsNotNull` it still displays at warning

[2019-11-15 16:35] danielwertheim commented on #122
It's because the value (arg in your sample) is wrapped in a type `Param` and then passed to the enforcer. Don't really think we can fix this. Perhaps use one of the other styles that works:

- `EnsureArg.IsNotNull(i);`
- `Ensure.Any.IsNotNull(i);`

@ndrwrbgs do you have any ideas on this?

[2019-11-17 15:52] danielwertheim commented on #117
@maartenoosterhoff Are you interested in providing a PR for this?

[2019-12-05 16:00] dmarciano commented on #122
@rsobon I know it is not perfect, but have you tried configurating the null check validation methods in the .editorconfig file as mentioned here: https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1062?view=vs-2019#configurability

[2019-12-05 16:16] dmarciano commented on #117
@danielwertheim Good afternoon.  I just came across this project while exploring GitHub and found it very interesting and would like to contribute.  I figured this issue was a simple one I could start with as I familiarize myself more with this library.  I just wanted to check if this is still something that you were interested in implementing before I started work on it.

[2019-12-05 16:20] dmarciano commented on #71
Hi...I'm interested in contributing to this, specifically working on the numbers (IsApproximately, IsPosition, etc.).  I didn't see any PR guidelines in the repo, so I was just wondering, would it be preferred that each implementation has its own PR or could I implement all four methods under the Number category and submit a single pull request for all of them?

[2019-12-06 11:15] maartenoosterhoff commented on #117
@danielwertheim Sorry for the late reply, but unfortunately I do not have the time to do this at the moment.
Fortunately @dmarciano is just on time to crack it 👍

[2019-12-06 13:42] danielwertheim commented on #117
@dmarciano absolutely

[2019-12-06 13:44] danielwertheim commented on #71
@dmarciano the smaller the better. Preferably one PR per feature if OK.

[2019-12-06 18:38] dmarciano commented on #71
I have implemented the IsPositive, IsNegative, IsNotNegative, and IsApproximately methods and extension methods, along with 16 new unit tests to cover these methods (all of which have passed successfully).

The project's coding style is a little different to how I usually code, but I tried to match the pattern/style as closely as possible with my new code.  If there is anything off, or you would p

[2019-12-08 21:51] ndrwrbgs commented on #122
Within the Param{T} I think that's the best we can get. We have annotations to tell R#, and could add ContractAnnotations, but CA1062 isn't smart enough to process any of those.

Brief brainstorming, I think we could do would be a major refactor that moves .Name and .OptsFn into _each_ of the validation methods e.g.
value.EnsureNotNull(), but that would be deviating from the existing design just t

[2019-12-08 21:53] ndrwrbgs commented on #122
Oh, but @danielwertheim your suggestion was actually spot on. Those overloads would avoid the problem for folks who need to. I think the implementation of CA1062 (last I checked) was doing a very shallow analysis, so anything at all wrapped up in a type couldn't be noted.

[2019-12-08 22:08] ndrwrbgs commented on #86
I've implemented this in https://www.nuget.org/packages/Ensure.That.Experimental/0.1.0 since this Ensure.That library provides a really nice extendable API (at least for the Ensure.That and Ensure.{Type} syntaxes).

I'd like to move that under @danielwertheim's account or into this library, as applicable, but keeping it separate meant I didn't have to try to match existing style/patterns (okay let

[2019-12-08 22:08] ndrwrbgs commented on #105
Also implemented in the -Experimental library

[2019-12-08 22:09] ndrwrbgs commented on #71
Most of these implemented in the -Experimental library
RE my comment in #125 I worked around it by allowing the user to specify how to handle 0, if you wanted to do similarly @dmarciano

[2019-12-08 22:13] ndrwrbgs commented on #117
@dmarciano Won't matter as far as the public-facing API, so feel free to get in an MVP of this first, but from perf work in C# I know that enums use some slow reflection to do the kinds of things we'll need to do here. We have some guidance at work about it, but it essentially boils down to caching the `.GetValues()` call on the enum type.

That said, I'd be cautious about caching things for users

[2019-12-08 22:19] ndrwrbgs commented on #118
I'd probably leave this open -- if these are finally coming into the base language, we could replace the ReSharper annotations for the same with the other annotations. It might not give the signal we are wanting on IsNotNull (duplicate of #122) but for all other cases (like paramName shouldn't be null if supplied) it would provide the R# experience to folks w/o R# (if https://docs.microsoft.com/en

[2019-12-08 22:19] ndrwrbgs commented on #118
I'd probably wait about 4 months before bothering, to see if it reaches critical mass, but I'd still want to move to something more 'official' (which is probably why those were introduced?)

[2019-12-08 22:20] dmarciano commented on #71
@ndrwrbgs Yes...I saw your comment but haven't had a chance to review the link you provided yet as I'm traveling today.  I should be able to look at it first thing tomorrow morning and either give feedback or start work on a change for it.  I'll keep you posted.

[2019-12-08 22:27] ndrwrbgs commented on #71
Linked in the other convo (was trying to avoid 'advertising' as that isn't the intention here) but will link just for your ease since you're traveling :-P
I implemented samples here: https://github.com/ndrwrbgs/Ensure.That.Experimental

[2019-12-09 07:17] danielwertheim commented on #71
@ndrwrbgs what's in experimental that can't be in the public repo?

[2019-12-09 07:20] danielwertheim commented on #118
@ndrwrbgs reopen or?

[2019-12-09 07:23] danielwertheim commented on #117
@ndrwrbgs Why not cache?

[2019-12-09 07:23] danielwertheim commented on #105
@ndrwrbgs what's preventing from bringing it into this repo?

[2019-12-09 07:27] danielwertheim commented on #122
I think that since there are working alternatives in the lib (other API styles), no redesign should be made and I will close this one for now.

Feel free to reopen if I have missed anything.

[2019-12-09 07:27] #122 closed

[2019-12-09 17:07] dmarciano commented on #71
@ndrwrbgs I have implemented the solution similar to experiemental repo you provided by creatinga new enum ```ZeroSignMode``` and adding optional parameters which defaults to ```ZeroSignMode.IsNeither``` (other values possible are ```ZeroSignMode.IsPositive```, ```ZeroSignMode.IsNegative```, and ```ZeroSignMode.IsBoth```).

I am currently working on updating the unit tests to confirm that everythi

[2019-12-09 17:45] ndrwrbgs commented on #71
I think I mentioned in another thread -- absolutely nothing :P. But having
it separate meant I didn't have to wait for PR, ensure parity in all 3 API
forms, or (cough cough) add tests :P

I can move over any you think do belong here, this issue 71 was meant to
get your feelings on which you wanted to see before sending a PR.

Part of the purpose though was also to show how Ensure.That is super
ext

[2019-12-09 18:20] dmarciano commented on #71
@ndrwrbgs Out of curiosity, did you implement the SizeIsNot and SizeIsGt/Lt/Gte/Lte methods in your experimental library?  Just wondering because I created a new branch in my repo and I just implemented these; currently working on just adding all the unit tests.  But if you've already implemented these methods, along with other ones on this list, I guess it doesn't make sense for me to re-do it.

[2019-12-09 20:29] dmarciano commented on #71
On another note, for the IsInAscendingOrder/IsInDescendingOrder , for the IDictionary interface, I'm assuming the ascending/descending order is for the keys?

[2019-12-10 05:20] ndrwrbgs commented on #71
Hm, I wouldn't have implemented order for dictionary, semantically it
doesn't make much sense. I didn't actually implement the SizeIsX because I
felt it was a bit leaky, instead I exposed a .Count() property that extends
an existing Param{Collection} but then moves it to Param{int} to be able to
reuse all the existing assertions on int.

On Mon, Dec 9, 2019, 12:29 PM dmarciano <notifications@githu

[2019-12-10 08:22] danielwertheim commented on #86
I'll gladly accept any PR that is up-to date and that follows the API (so that not yet another flavor is added, unless a good case could be provided for why) and has some (at least one) test.

[2019-12-10 08:24] danielwertheim opened #127 "ReadOnlySpan<char>"
For string validation purposes.

[2019-12-13 08:14] ndrwrbgs commented on #105
_I definitely replied to this in my email client, but it looks like it never went through :(._

Nothing at all, if you want it here! I had 2 goals in implementing it externally
1) faster Time To Market (didn't have to match style :-P selfishly)
2) demonstrating to others such as @seroche how extensible the existing library is for individual use cases (the primary factor for incorporating into the

[2019-12-13 08:24] ndrwrbgs commented on #105
Replying to the feature request itself, I have one main concern

Should this be a [Conditional("DEBUG")] method, or documented heavily to expect users to do
[code]

The concern being an extra enumeration over every item in a collection on common code paths (e.g. the 'happy path' this enumeration is pointless, but very often when taking a collection we expect [ItemNotNull] [link](https://www.jetbra

[2019-12-22 04:01] ndrwrbgs commented on #117
It's _really_ pedantic and just "covering our butts" for scenarios I don't claim to fully understand, but I am imagining a scenario that reflection is being used to construct enums at runtime. These being passed into a generic method that calls us would result in unbounded memory growth if we cache everything.

That said, it's fully possible that .NET would internally result in the same memory gro

[2019-12-22 04:10] ndrwrbgs commented on #118
I'll keep it in my email inbox, so we can leave this here for now

[2020-02-07 20:14] ndrwrbgs opened #128 "Ship-plan v9?"
@danielwertheim I was wondering what's on your roadmap before shipping version 9, hoping to get the `readonly structs` stuff for consumption and willing to help out with other changes you want to get in

[2020-02-12 19:35] danielwertheim commented on #128
There's no roadmap. Features are added as needed. I'll rather do 100 releases with one feature than one with 10 features.

[2020-02-12 20:18] ndrwrbgs commented on #128
Could we do a ship them to get the read-only structs out? :)

On Wed, Feb 12, 2020, 11:35 AM Daniel Wertheim <notifications@github.com>
wrote:

[2020-02-17 16:49] ndrwrbgs commented on #117
working on this

[2020-02-17 17:02] ndrwrbgs opened #129 "Use Memoization to avoid multiple enumeration of Ensure.Enumerable"
We'd have to pass by ref to replace the value (or ask users nicely [and they'll surely forget] to use the return value) but it could avoid them shooting themselves in the foot :)

[2020-02-17 17:27] ndrwrbgs opened #130 "Add API-test to ensure all three APIs have parity, to make contribution easier"
#Reflection

[2020-02-18 21:38] danielwertheim commented on #130
Do you have some sample code on what you had in mind?

[2020-02-18 22:39] ndrwrbgs commented on #130
I'll handle it, feel free to assign to me it was mostly a note-to-self :)

On Tue, Feb 18, 2020 at 1:38 PM Daniel Wertheim <notifications@github.com>
wrote:

[2020-02-19 04:04] ndrwrbgs commented on #130
I will struggle with this though, if the APIs do not have matching names (like proposed in #131)

[2020-02-19 04:06] ndrwrbgs opened #132 "[Performance] Investigate inline-ability of throws"
From #131 `I believe this 'throw' prevents inlining of this method. If that is validated to be true, we probably refactor all throws to be method calls in the 'cold-path' (error) cases`

-danielwertheim feel free to 'assign' to me

[2020-02-19 16:13] danielwertheim commented on #130
They will not have matching API names in all cases. I was more interested in seeing what you had in mind to see what problem it solves and how it will be to maintain.

[2020-02-20 21:00] #117 closed

[2020-02-20 21:02] danielwertheim commented on #117
@ndrwrbgs thanks for the PR. Do you feel that it should be released immediately or do you want to address more stuff?

[2020-02-21 02:34] ndrwrbgs commented on #117
I still want the read-only changes from December out so sooner is better
for me :P but I'm sure I'll have some more minor version changes upcoming
now that I'm back at it (read: Seattle has sun again).

On Thu, Feb 20, 2020, 1:02 PM Daniel Wertheim <notifications@github.com>
wrote:

[2020-02-22 20:28] ndrwrbgs commented on #129
I'm going to put the onus of handling this on the user. We have the signals there so tooling like Resharper can tell them about multiple enumeration. It will help them eagerly enumerate it or they can use https://fuqua.io/Rx.NET/ix-docs/html/M_System_Linq_EnumerableEx_Memoize__2.htm `Memoize()` if they don't want to eagerly evaluate the whole sequence.

In summary, in this case, I think the capaci

[2020-02-22 20:28] #129 closed

[2020-02-22 20:43] ndrwrbgs commented on #127
Primary questions I'd have are
- [ ] Does `ReadOnlySpan` provide a better/more-interoperable API (are there times a user would have `ReadOnlySpan` but not `string`?
- [ ] Should we provide both, or just `ReadOnlySpan`?

If we keep both
- [ ] Can call sites interop okay (or will it be like "unsure which method to call")?

If we switch to only providing `ReadOnlySpan`
- [ ] Are there performance ben

[2020-02-22 21:01] ndrwrbgs commented on #127
It looks like mostly we're doing nullability & length. I ran some very rough benchmarks and length doesn't seem to perform valuably faster on ReadOnlySpan than on string, and there _is_ an overhead involved in casting to ReadOnlySpan (albeit minor) so I wouldn't replace string with it. But it does appear to be able to live side-by-side (at least for netcore30)

[2020-02-22 22:13] ndrwrbgs commented on #130
https://github.com/ndrwrbgs/Ensure.That/tree/reflectionIsGross

[2020-02-22 22:21] ndrwrbgs commented on #118
@roryprimrose do you know of any analysis took that uses these today? Encountered the new attributes myself in netcoreapp30 but not sure if the IDE is doing anything with them yet.

If there is something using them, we can easily add them everywhere the R# ones are. If not I'd defer again.

[2020-02-22 22:24] ndrwrbgs commented on #118
Based on https://www.google.com/url?sa=t&source=web&rct=j&url=https://docs.microsoft.com/en-us/dotnet/csharp/nullable-attributes&ved=2ahUKEwjq7bmKmebnAhWHJDQIHSfRCA8QFjABegQIBhAL&usg=AOvVaw0InQ5tpB5sa5w06SmH9mX1&cshid=1582410200057, projects using nullable types might require this to get any benefit out of Ensure.That.

I'm a bit work-tired now so I'll test that theory in the future, unless someon

[2020-02-28 22:04] ndrwrbgs commented on #118
It looks like it doesn't _break_ the build, but can throw compiler warnings. We would be able to pretty easily annotate nullability on the EnsureArg/Ensure.Type methods, but Ensure.That is a bit too complex for the trivial conditions implemented from what I see in:

https://www.meziantou.net/csharp-8-nullable-reference-types.htm#post-condition-attri

But that's no reason not to support it for the

[2020-02-28 22:08] ndrwrbgs commented on #118
Options for Ensure.That API: `IsNotNull` returns the input value. User can use the `!` symbol to tell the compiler that the value is really really not null after the call.
@danielwertheim could you reopen this now? I'll take a look at adding the attributes.

[2020-02-29 01:17] roryprimrose commented on #118
One thing to consider with compiler warnings is where people turn on TreatWarningsAsErrors. That would then fail their builds.

[2020-02-29 01:54] ndrwrbgs commented on #118
^ that's why I'm taking the task :)

[2020-02-29 12:54] roryprimrose commented on #118
Sorry, I misunderstood your comment :)

[2020-03-05 04:58] ndrwrbgs commented on #128
Now I have a desire for the enum tests too :-P any sign of shipping?

[2020-03-05 05:06] ndrwrbgs commented on #114
+1 on having this requirement again - nullable (optional arguments) that have constraints IFF supplied.

[2020-03-05 06:38] danielwertheim commented on #128
Noticed that parts of the message construct came in in the last PR but don't believe it's braking. So we can ship whenever.

[2020-03-05 06:40] danielwertheim commented on #128
Shipping https://dev.azure.com/danielwertheim/ensure.that/_build/results?buildId=552&view=results

[2020-03-05 06:40] danielwertheim commented on #128
Now, what's breaking that you want in v9

[2020-03-05 19:54] ndrwrbgs commented on #128
Oh I wasn't wanting something specific, just wanted the new changes shipped
(v9 I just meant next version) :)

On Wed, Mar 4, 2020, 10:40 PM Daniel Wertheim <notifications@github.com>
wrote:

[2020-04-21 08:05] grleachman opened #134 "Create an AggregateException, or throw a single exception from a list of EnsureArg failures."
I'd like to use EnsureArgs to check all my arguments in the constructor, and throw a single Exception to report on all issues.

eg.
[code]
[code]

which throws  a single exception of "isHomeMade is false, isPiDay is false", or an AggregateException.

[2020-04-22 06:15] wojciechrak opened #135 "Bring back netstandard2.0 target"
Hi Daniel!
I wanted to use this library in a new project, so I added a newest 8.2.0 version.
Unfortunately it only targets `netstandard1.1`, which has dependency on NETStandard.Library, which results in lots of dependencies carried over to the project
![image](https://user-images.githubusercontent.com/3034230/79946682-bb315f00-8470-11ea-8de1-86b400b7cacf.png)
![image](https://user-images.githubuse

[2020-04-23 09:42] barakakha opened #136 "Breaking change from 8.1.2 to 8.2.0"
i got this error after upgrading from 8.1.2 to 8.2.0
![image](https://user-images.githubusercontent.com/19611912/80084274-530d7680-855f-11ea-8637-160aa930f37e.png)

this error was raised when trying to use version 8.2.0 with other nuget that was already compiled with version 8.1.2.  to be more clear
Project A (with 8.2.0) ---> Nuget X ---> Ensure.That.8.1.2

[2020-04-29 19:12] danielwertheim commented on #136
Yes, you are correct. Mistake. I'm not keen on reverting that PR.

What do you think about putting out a new package as v9.0.0 and "unlist" 8.2.0?

[2020-04-29 19:19] barakakha commented on #136
Sounds good

[2020-04-29 19:19] #135 closed

[2020-04-29 19:36] danielwertheim commented on #136
Done. 8.2.0 has been marked as deprecated and points at 8.1.2 instead. And v9.0.0 has been released. Thanks for reporting.

[2020-04-29 19:36] #136 closed

[2020-05-01 08:25] danielwertheim commented on #134
Any ideas on the construct of it? E.g. acting on `params Action[]` and try-catch and then re-throw single exception if exactly one or all in `AggregateException` if more than one? If that would be the solution I'm not sure if it should be in Ensure.That or if it's better to have in application as a simple construct. Need to measure performance of it first.

[2020-05-02 21:41] ndrwrbgs commented on #136
I do think we should consider releasing a minor version bump that reverts
it on the 8.* path. Having been on the receiving end of this kind of change
before, having a "latest" that fixes it helps if I consume a package that
consumed it but hasn't updated to latest or rolled back.

I guess concern is alleviated if we have a way to see on nuget if any
packages are saying >=8.2.0

On Wed, Apr 29, 202

[2020-05-08 20:29] cjvanwyk3 opened #140 "EnsureArg.IsNotNull without class requirement"
Would it be possible to remove the class requirement on EnsureArg.IsNotNull?  Maybe something like this:
        public static T IsNotNull<T>(T value, string paramName = null)
        {
            var type = typeof(T);
            if ((type.IsClass || IsNullable(type)) && value == null)
            {
                throw new ArgumentNullException(paramName, "Value may not be null.");

[2020-05-09 08:35] danielwertheim commented on #140
Is this the case you want to support? E.g. a nullable int.

[code]

![image](https://user-images.githubusercontent.com/196044/81468590-cc080180-91e0-11ea-87bf-3388c8f47e42.png)

[2020-05-09 08:46] ndrwrbgs commented on #140
It's worth noting that a `struct` cannot be `null` in C#. It can override `.Equals` to return `true` when compared to `null`, but it itself cannot be `null` - so I'd be cautious about the API exposed if any changes are needed for this.

int? a = null; is `Equal` to `null`, but is not actually `null`.

[2020-05-09 21:01] danielwertheim commented on #140
The code above are tests against existing code.

[2020-05-09 21:46] ndrwrbgs commented on #140
I apologize for my silliness thanks Daniel for the patience!
@cjvanwyk3 are you still blocked on this?

[2020-05-11 13:48] cjvanwyk3 commented on #140
What I'm ultimately after is being able to use EnsureArg on a generic that does not have a class requirement.  For example

// This will not work.
        public void GenericMethod<T>(T parameter)
        {
            EnsureArg.IsNotNull(parameter);
        }

[2020-05-21 03:49] LiquidPT opened #141 "Add the ability to check that a string is made up of a certain type of character(s)"
I have a need to test whether a string (and possibly just a char) are of a certain type: Letter, Digit, LetterOrDigit, etc. I was in the process of converting my argument checking over to Ensure.That and found that (I think) it doesn't exist. I have it checked similar to this now:

            if (!argString.All(char.IsLetterOrDigit))
            {
                throw new ArgumentOutOfRangeExcep

[2020-05-21 09:41] ndrwrbgs commented on #141
This should handle that, right?
https://github.com/danielwertheim/Ensure.That/blob/45a9180b4a6c4d64d70a1b2e0feeb5dc2a2904f4/src/projects/EnsureThat/EnsureThatStringExtensions.cs#L27

[2020-05-21 09:47] #128 closed

[2020-05-21 09:52] ndrwrbgs commented on #140
So sorry to have dropped this!

@cjvanwyk3 could you refactor your code to match more like what we have here under AnyArg?
https://github.com/danielwertheim/Ensure.That/blob/73c566430ecbc7fa77a54b30e4000d7cc39e9cf1/src/projects/EnsureThat/Enforcers/AnyArg.cs#L8-L26

The thing is, we don't have an overload that checks != null in the case that '== null' is impossible. I'm trying to find a way that i

[2020-05-21 09:55] ndrwrbgs commented on #134
I really like this idea, it helps developers avoid the hunt-and-peck when there are multiple failures!
I'd want to be careful with the performance though. Action[] could be easily wrapped on top of the existing APIs, but would be the least performant. A new semantic that doesn't throw on violations but can return an error code to be aggregated would allow for the best performance -- but the most n

[2020-05-21 16:37] LiquidPT commented on #141
As I said above, I realize it could be done in Regex. I just don't know any dev that likes Regex and it seemed like this simple cases maybe should be included.

I don't know if the implementation I have above or a facade over the Regex method is better (easier to read, more performant, etc). There were a few reasons for my posting the issue:

1. To make sure I hadn't completely missed an existing

[2020-05-21 19:40] grleachman commented on #134
no #if DEBUG. This is production code.
Performance is critical. We use them in the constructors of all Dto's so it's exceptionally sensitive.

[2020-05-23 11:54] danielwertheim commented on #141
Why not add a member in for this against strings? `IsAllLettersOrDigits`

[2020-06-04 10:36] #140 closed

[2020-06-04 15:37] loedeman commented on #86
@danielwertheim Just did that - I hope this issue can be solved soon :).

[2020-06-04 18:14] #86 closed

[2020-06-04 18:58] cjvanwyk3 commented on #140
@danielwertheim Thank you so much!  The EnsureArg.HasValue(item); works great for us!

[2020-06-06 10:36] pBouillon commented on #141
Hi ! Is this issue up for grabs ?
I would like to work on it and suggest a PR according to the method you suggested @danielwertheim 😄

[2020-06-07 13:30] #141 closed

[2020-08-06 11:51] vadim-kor opened #145 "Please add TimeSpan Lt, Gt, etc"

[2020-08-06 11:57] #145 closed

[2020-11-08 23:53] ndrwrbgs commented on #118
I tried to pick this up today, but it's complicated by the C#8 analysis only going one-layer-deep and only looking at flat inputs/outputs, whereas we wrap the input (for various language reasons that I don't yet think are invalidated by this case) in the `Param` struct.

This suggests we could never (in the Static Analysis's current functionality, which leaves a lot to be desired :( the competitio

[2020-11-09 00:22] ndrwrbgs commented on #134
With performance being critical, the way this is falling in my head would require a major rework of the library (a duplication of every validation we have that can track validation errors in some collection rather than throw, and would have to avoid using Action or Func anywhere as those provide allocations not possible to use in performance-critical code).

Ideally what would happen here, if ever

[2020-11-09 00:26] ndrwrbgs commented on #134
In the happy case, this has no exceptions, and only is allocating objects for the Actions. I _vaguely_ recall you might be able to avoid those if you take everything you need as an input (as opposed to capturing it in a "closure" -- e.g. `EnsureMany(T arg, Action<T> action1, Action<T> action2 /* enumerating prevents the array allocation of params */)`) If you unwrap the LINQ also it could end up m

[2020-11-09 19:11] danielwertheim commented on #134
Would we "gain" from e.g. making a bunch of `EnsureMany<T1, T2>` `EnsureMany<T1, T2, T3,..>` a'la Tuple style and at one point just offer the `params` construct?

[2020-11-09 23:36] ndrwrbgs commented on #134
Not fully ingesting what you're suggesting, the shape of the API would
still require major refactors.

On Mon, Nov 9, 2020, 11:12 AM Daniel Wertheim <notifications@github.com>
wrote:

[2021-01-26 19:35] ndrwrbgs opened #147 "StringParam.* SizeIs and HasLengthBetween are congruent methods, but have inconsistent naming style"
This is _very_ minor, and would require a peek at if SizeIs is being consistent with Collection or some other method, but I noticed the inconsistency while trying to invoke a length limit on a string and figured I should at least mention it here :)

Thanks Daniel!

[2021-01-27 12:24] MadKillerChicken opened #148 "Ensure.That(enumerable).HasItems()"
Hi,

maybe I'm just being dumb about it, but can someone please explain to me why the library doesn't implement the Ensure.That(x) flavor for IEnumerables? The only way of validating IEnumerables is by means of, for example, Ensure.Enumerables.HasItems(x).

Thanks!

[2021-01-27 18:57] danielwertheim commented on #147
So you want: `string.HasLength` because it aligns better with `string.HasLengthBetween` (which I agree on)?

There's `collection.SizeIs` perhaps it came from there at some point when things were `IEnumerable<>` which then matched the String's `IEnumerable<char>`

What do you prefer?
A) Add new and remove old and make a major
B) Add new and obsolete the old with comment it will be removed in future

[2021-01-27 19:00] danielwertheim commented on #148
If I do recall it right, it was that you should be explicit in wanting to deal with `Enumerables` as there might e.g. be duplicate enumerations on the passed arg (other checks than `null`)  which potentially could be a deferred/lazy evaluated construct doing something costly.

Hope that answers your question. Feel free to re-open otherwise.

[2021-01-27 19:00] #148 closed

[2021-01-28 03:11] ndrwrbgs commented on #148
Thanks for opening your first issue in an OSS project, and welcome to the OSS community @MadKillerChicken!

I see two topics here. The first is, as Daniel mentions, the discouragement and "why you shouldn't" on this API. The second is the inconsistency you noticed. I include a discussion below on "Mini IEnumerable warning" for cases to keep in mind as you're validating IEnumerables, and the kinds

[2021-01-28 05:54] MadKillerChicken commented on #148
@danielwertheim @ndrwrbgs Thank you both very much for the info and especially for this project.

[2021-01-29 18:02] ndrwrbgs commented on #147
Coming back to it a few days later, I'm actually thinking perhaps we keep both? Let me "talk out" my thoughts on the options to bounce the ideas off of you...

## Options
* +HasLength
  * PRO: Intellisense re:`HasLengthBetween`
  * PRO: Matches `string.Length`
  * CON: Two methods do the same thing (`SizeIs`)
* -SizeIs +HasLength
  * See above
  * PRO: One method for one concept
  * CON: NOT consi

[2021-02-09 22:40] ndrwrbgs opened #149 "Return Guid from string.IsGuid"
# Why
Our code was like
Ensure.That().IsGuid();
return new Guid();

No big deal, but knowing that IsGuid already constructed the Guid and we do it again felt weird enough to bother mentioning here.

# Ideating
Not actually saying "let's do this" just opening the floor for discussion on it.

Depends if it matches the style elsewhere in the library, but if it's not a crazy deviation, might consider

[2021-02-10 21:17] #149 closed

[2021-02-10 21:41] #147 closed

[2021-02-10 21:43] #50 closed

[2021-02-10 21:43] #51 closed

[2021-02-10 21:43] #73 closed

[2021-02-10 21:43] #76 closed

[2021-02-10 21:43] #105 closed

[2021-02-10 21:43] #109 closed

[2021-02-10 21:43] #110 closed

[2021-02-10 21:43] #114 closed

[2021-02-10 21:43] #118 closed

[2021-02-10 21:43] #127 closed

[2021-02-10 21:43] #130 closed

[2021-02-10 21:43] #132 closed

[2021-02-10 21:43] #134 closed

[2021-03-06 03:37] hannasm opened #154 "EnsureArg.IsNotNull for nullable value type"
[code]

On line 3, Visual studio generates a CS8602, dereference of a possibly null reference

[2021-03-10 01:14] ndrwrbgs commented on #154
Brute force testing seems the current SA from roslyn team requires EXPLICITLY the https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.codeanalysis.notnullattribute?view=net-5.0 attribute, without compatibility with the existing R# attributes.

Sadly, the old `ValidatedNotNull` will still be required for projects using those versions, and `NotNull` will be required for new projects, whil

[2021-03-30 18:50] hannasm commented on #154
Sure i'd be glad to check it

On Tue, Mar 30, 2021 at 2:42 PM ndrwrbgs ***@***.***> wrote:

[2021-03-31 16:02] danielwertheim commented on #154
There's now a pre-release out regarding this: https://www.nuget.org/packages/Ensure.That/10.1.0-p1

[2021-04-02 16:26] danielwertheim commented on #154
@hannasm did the preview release solve your issue?

[2021-04-03 19:21] hannasm commented on #154
I can confirm this issue is resolved for me.

There is a substantial API surface to validate and I only tested a few use
cases.

I was thinking that perhaps you could create a project with 'warnings as
errors' around these use cases to automate the validation. I'm sure
multiple build targets and varying toolchains will complicate that setup,
and it's a bit unconventional.

On Fri, Apr 2, 2021 at 1

[2021-04-03 20:05] ndrwrbgs commented on #154
The hard part is that most of the impact for other toolchains will be
authoring time only and not a build break. I'd ship it, myself, since the
issues it can cause aren't program validity issues but one of { someone
upgrading's build will outright break, someone's IDE/tools will false warn
about something }.

Neither is ideal, but I see both as low impact to a product and easy to fix
if reported.

[2021-04-04 08:58] danielwertheim commented on #154
Thanks @hannasm for verifying.

@ndrwrbgs Agreed. It's now released as `v10.1.0`. Thanks for all the work fixing this.

[2021-04-04 08:58] #154 closed

[2021-07-01 12:51] DennisInSky opened #157 "Default exception factory takes account of CustomExceptionFactory for ArgumentNullException only"
Default implementation of IExceptionFactory does not take account of CustomeExceptionFactory in ArgumentException and ArgumentOutOfRangeException methods. Also, it both custom exception factory and custom exception message are defined, the latter is not propagated down to the custom exception factory and default one is used instead.

[2021-07-06 19:48] #157 closed

[2021-07-06 19:50] danielwertheim opened #159 "Drop explicit support for .NET 4.5.1 and rely on .NET Standard 1.1?"
Line: https://github.com/danielwertheim/Ensure.That/blob/master/src/projects/EnsureThat/EnsureThat.csproj#L4

[2021-07-06 19:51] danielwertheim commented on #159
@ndrwrbgs what are your thoughts on this?

[2021-07-06 20:50] danielwertheim commented on #157
@DennisInSky thanks for reporting. There's a preview release out with a fix for this: https://www.nuget.org/packages/Ensure.That/11.0.0-p1

Awaiting decision of potentially dropping .NET 4.5.1 support before making 11.0.0 final tracked in #159

[2021-07-07 16:37] DennisInSky opened #161 "CollectionArg methods disregards optsFn for null checks"
CollectionArg methods disregards optsFn for null checks
https://github.com/danielwertheim/Ensure.That/blob/master/src/projects/EnsureThat/Enforcers/CollectionArg.cs#L19
unlike it is done for StringArg
https://github.com/danielwertheim/Ensure.That/blob/master/src/projects/EnsureThat/Enforcers/StringArg.cs#L17

[2021-08-05 17:33] ndrwrbgs commented on #134
This keeps coming to my mind, after seeing FluentAssertions have the same functionality.
I think we could do it with a (pretty major, but mostly mindless) refactor that made the code expose 'What to do on violation' flag as opposed to just an `Exception` hook (which must always throw).

Then it'd be pretty easy to code up [even as a separate library plugin-based to this one] an `AsyncLocal` `Stack

[2021-10-11 16:43] danielwertheim opened #163 "Use Scope instead of argument passing of Options"
It's a Guard Clause lib. Nothing more, nothing less. It's not about producing business exceptions, domain exceptions etc.  So is the Options (configured via delegate/func) really needed?

[2021-10-13 10:41] danielwertheim commented on #161
@DennisInSky what use case do you use the options for? The reason for me asking is that I’m leaning against removing it. Why? Because the lib should only be for argument validation (guard clause) and not for generating custom business exceptions etc. And if so, what in options is needed?

[2021-10-20 21:48] ndrwrbgs commented on #159
Apologies for my absence! My thoughts are mostly :( since we're stuck on 4.6.2 at work, and that has broken .NET Standard libraries support - but if we (Ensure.That) aren't pulling in other libraries then I think it should work okay?

[2021-11-15 21:41] ndrwrbgs commented on #161
link to #165

[2021-11-26 15:50] PNicolle opened #168 "Digitally signed assemblies"
Hello,
the nature of our business requires to have all assemblies digitally signed. Is it possible to publish a nuget package with digitally signed Ensure.That assemblies.

Thanks

[2021-11-27 03:23] ndrwrbgs commented on #168
Are you familiar with which signing your team requires? Some examples are
Authenticode and Strong Name.

On Fri, Nov 26, 2021, 7:50 AM PNicolle ***@***.***> wrote:

[2021-11-29 07:57] PNicolle commented on #168
We need both:
-strong name because our assemblies are strong named and can only reference strong named assemblies
-authenticode signing with certificate to verify publisher identity and code integrity

[2021-12-01 19:42] #163 closed

[2021-12-14 13:38] PNicolle commented on #168
Any plan on that?

[2021-12-15 20:34] danielwertheim commented on #168
Never worked with signing a package using "Authenticode". What does it require from our end? Buy a certificate?

[2021-12-16 07:21] PNicolle commented on #168
For authenticode, your assemblies have to be digitally signed by a trusted Certificate Authority (ex Verisign, Symantec, ...). In most case it is not free :-( ,  you must buy a certificate. An alternative is to be member of some organization that manages authenticode signing for free. I only know .NET Foundation](https://dotnetfoundation.org/), but may be there are another.

[2021-12-28 01:31] ndrwrbgs commented on #168
I went to do this, but see that since 90273964 the assembly should already have been StrongName signed.
[code]

[2021-12-28 01:40] ndrwrbgs commented on #168
My research into Authenticode for public products suggests that while some solutions[^1] exist, they _do_ require a centralized governing body and deployment setup for them. I don't see good solutions for this yet for the non-centralized, distributed open-source space. I believe I've heard some teams which require signing might be on-behalf-of signing third party dependencies at build time, to ena

[2022-01-15 13:01] danielwertheim commented on #159
Will keep two latest LTS .NET6 and 3.1 and oldie 4.6.2

[2022-01-15 13:30] danielwertheim commented on #168
If I understand this correctly it will incur costs etc. Hence why I will close this issue. SNK will be it for now. Feel free to re-open if I've missunderstood anything. Any organization could just clone the repo and use it internally.

[2022-01-15 13:30] #168 closed

[2022-01-15 14:21] danielwertheim opened #172 "No more OPTS"
Ensure.That is a simple guard clause **argument validation** lib, that helps you with validation of your arguments. **It IS NOT** for [*insert your custom exception of choice here*]. It aims at having an *acceptable/good enough message* (a bit like, take it or leave it) for devs (in logs etc) not for application users/systems etc. So no custom exceptions, messages or I18N support.

Hence: No more

[2022-01-15 14:24] #172 closed

[2022-01-15 15:42] danielwertheim opened #174 "Fix S4144 in AnyArg"

[2022-01-15 16:04] danielwertheim opened #176 "Enable analyzers"
Enable default analyzers and use the SonarAnalyzer as well. All warnings should cause build errors.

[2022-01-16 18:46] #174 closed

[2022-01-16 18:46] #176 closed

[2022-01-23 17:37] figueiredorj opened #177 "Chaining clauses"
hi @danielwertheim ,
the concept is very good and did already kne it.. just did not tried to look for or developed one my self...

When I saw you have chaining in this it was top... however seems to lack support for properly chaining.. returning void or string or else does not make any sense..  please make all entities return type of <type>Param.

If you need help with this extra work let me know.

[2022-05-18 21:13] r-pankevicius opened #178 "Change InvokerParameterNameAttribute to CallerMemberNameAttribute"
Could you change JetBrains.Annotations.InvokerParameterNameAttribute to [System.Runtime.CompilerServices.CallerMemberNameAttribute](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.compilerservices.callermembernameattribute)?

I'm forced to use old style `EnsureArg.IsNotNull(notNullString, nameof(notNullString));` syntax, explicitly giving parameter name instead of simple `EnsureArg.IsNo

[2022-05-19 04:14] ndrwrbgs commented on #178
Would not CallerMemberName give the name of the method, rather than the
name of the method parameter passed to the ensure method?

On Wed, May 18, 2022, 4:13 PM Remigijus Pankevičius <
***@***.***> wrote:

[2022-05-19 06:43] r-pankevicius commented on #178
@ndrwrbgs Yes, you are right. It yields name of the calling method. And it even discards local methods:
https://github.com/r-pankevicius/Ensure.That/commit/5f8b401df7571f1f66e08104329f537666de7b3e

[2022-05-19 06:47] r-pankevicius commented on #178
Will close this issue: CallerMemberNameAttribute is not suitable here.

But before I have a question: what does JetBrains.Annotations.InvokerParameterNameAttribute do?
Does it work in JetBrains Rider IDE?

[2022-05-20 06:35] #178 closed, assigned to nobody

[2022-08-22 11:01] justmara commented on #71
I'm confused to being unable to find IsGteOrEq/IsLteOrEq methods for comparables (number for example). Am I missing somethings?